.customers{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;
}

.headerRow{
    background-color: rgb(91, 91, 91);
}

.customer:nth-child(2n){
    text-align: center;
    background-color: rgb(120, 120, 120);
}
.customer:nth-child(2n+1){
    text-align: center;
    background-color: rgb(182, 181, 181);
}

.customer td{
    padding: 1em;
}

